{% extends "base.html" %}

{% block head %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/timeline.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col s12 m4 l8">
            <span class="date">2021</span>
            <ul class="list">
                <li>
                    <div class="icon-title">
                        <i class="tiny material-icons">local_cafe</i>
                        <span class="title">[drinks] AeroPress</a>
                    </div>
                    <span class="content">Purchased an AeroPress following a recomendation of the famous barista
                        <u>James Hoffman</u>.</br>He has an incredible <a
                                target="_blank" rel="noopener noreferrer"
                                href="https://www.youtube.com/channel/UCMb0O2CdPBNi-QqPk5T3gsQ">Youtube channel</a>,
                        with all kinds of tips and reviews on coffee machines, brands, and overall science about
                        black gold.</br>You can even learn how to do an Espresso tonic!</span>
                </li>
                <li>
                    <div class="icon-title">
                        <i class="tiny material-icons">code</i>
                        <span class="title">[code] React</a>
                    </div>
                    <span class="content">Started learning <b>React</b> as part of my goal of improving my frontend skills
                     .</br>Using trainings available in Pluralsight, which have a fantastic quality.</span>
                </li>
            </ul>
        </div>
        <div class="col s12 m4 l8">
            <span class="date">2020</span>
            <ul class="list">
                <li>
                    <div class="icon-title">
                        <i class="tiny material-icons">no_drinks</i>
                        <a href="/projects/thermal-face-detection" class="title">[health] 1 year of no alcohol</a>
                    </div>
                    <span class="content">September marks a whole year of no alcoholic drinks, quite an achievement.</span>
                </li>
                <li>
                    <div class="icon-title">
                        <i class="tiny material-icons">code</i>
                        <span class="title">[code] VueJs</a>
                    </div>
                    <span class="content">Started learning VueJs with the intention of creating a website for the University.
                     The site is currently available at <a
                                target="_blank" rel="noopener noreferrer"
                                href="https://unedtest.com/"><i>https://unedtest.com</i></a>.
                    </span>
                </li>
                <li>
                    <div class="icon-title">
                        <i class="tiny material-icons">home</i>
                        <a href="/timeline" class="title">[life] Apartment in Barcelona</a>
                    </div>
                    <span class="content">Moved to a smaller, cozier apartment still in Barcelona.
                        Used the ocassion to paint it at my own taste, and slowly filling it with plants.
                    </span>
                </li>
            </ul>
        </div>
        <div class="col s12 m4 l8">
            <span class="date">2019</span>
            <ul class="list">
                <li>
                    <div class="icon-title">
                        <i class="tiny material-icons">school</i>
                        <a href="/timeline" class="title">[edu] Psychology</a>
                    </div>
                    <span class="content">After many years of thinking about it, I decided to join Uni again to start
                        <b>studying Psychology</b>. So I enrolled on UNED, an online first University where you can set up
                        your own studying schedule.
                        The idea is to go through school while working, at my own pace, and get the degree in a few
                        years.
                    </span>
                </li>
                <li>
                    <div class="icon-title">
                        <i class="tiny material-icons">no_drinks</i>
                        <a href="/projects/thermal-face-detection" class="title">[health] Quit drinking</a>
                    </div>
                    <span class="content">Decided to quit drinking alcohol, for health reasons.</span>
                </li>
                <li>
                    <div class="icon-title">
                        <i class="tiny material-icons">linked_camera</i>
                        <a href="/projects/thermal-face-detection" class="title">[work] Photography</a>
                    </div>
                    <span class="content">Was hired as a photographer for an event on meditation and masculinity.</span>
                </li>
                <li>
                    <div class="icon-title">
                        <i class="tiny material-icons">flight_land</i>
                        <a href="/timeline" class="title">[life] Barcelona, Spain</a>
                    </div>
                    <span class="content">Moved to Barcelona, Spain, at the beginning of the year.
                        Coming back to my home country after 6 years of living abroad.
                    </span>
                </li>
            </ul>
        </div>
        <div class="col s12 m4 l8">
            <span class="date">2018</span>
            <ul class="list">
            </ul>
        </div>
        <div class="col s12 m4 l8">
            <span class="date">2017</span>
            <ul class="list">
            </ul>
        </div>
        <div class="col s12 m4 l8">
            <span class="date">2016</span>
            <ul class="list">
            </ul>
        </div>
        <div class="col s12 m4 l8">
            <span class="date">2015</span>
            <ul class="list">
                <li>
                    <div class="icon-title">
                        <i class="tiny material-icons">code</i>
                        <span class="title">[code] Python</a>
                    </div>
                    <span class="content">My first contact with <b>Python</b> dates back to 2015, where I worked on basic
                        scripts to send mail alerts on successful builds. This later developed in a whole career of
                        its own, and a much deeper knowledge of software thanks to it.
                     .</br>Using trainings available in Pluralsight, which have a fantastic quality.</span>
                </li>
                <li>
                    <div class="icon-title">
                        <i class="tiny material-icons">sports_bar</i>
                        <span class="title">[drinks] Waardamse</span>
                    </div>
                    <span class="content">Tried Waardamse Triple, probably the best beer I managed to test while in Belgium.
                        The creators are incredible people that have invited me over to their brewery more than once,
                        where they always have new flavours to try. Last one was a cava flavored beer.
                        More info on their website: <a href="https://www.brouwerijstokhove.be/" class="title">Boruwerij Stokhove</a></span>
                </li>
                <li>
                    <div class="icon-title">
                        <i class="tiny material-icons">sports_soccer</i>
                        <a href="/projects?tags=android" class="title">[hobby] RBBFC</a>
                    </div>
                    <span class="content">Joined Royal Brussels British FC, an 11 a side soccer team, also in one
                        of the Amateurs belgian leagues. Saturdays mean football and beer.</span>
                </li>
            </ul>
        </div>
        <div class="col s12 m4 l8">
            <span class="date">2014</span>
            <ul class="list">
                <li>
                    <div class="icon-title">
                        <i class="tiny material-icons">directions_run</i>
                        <a href="/projects/dawebmail" class="title">[hobby] Half Marathon</a>
                    </div>
                    <span class="content">Finished a Half Marathon, in Brussels.</span>
                </li>
                <li>
                    <div class="icon-title">
                        <i class="tiny material-icons">sports_soccer</i>
                        <a href="/projects?tags=android" class="title">[hobby] Casa del Mal</a>
                    </div>
                    <span class="content">Joined Casa del Mal, an indoor soccer team of one of the Amateurs belgian leagues.</span>
                </li>
            </ul>
        </div>
        <div class="col s12 m4 l8">
            <span class="date">2013</span>
            <ul class="list">
                <li>
                    <div class="icon-title">
                        <i class="tiny material-icons">flight_takeoff</i>
                        <a href="/timeline" class="title">[life] Brussels, Belgium</a>
                    </div>
                    <span class="content">Moved to Brussels, Belgium.
                    </span>
                </li>
            </ul>
        </div>
        <div class="col s12 m4 l8">
            <span class="date">2012 and before</span>
            <ul class="list">
                <li>
                    <div class="icon-title">
                        <i class="tiny material-icons">work</i>
                        <span class="title">[job] Unit4</a>
                    </div>
                    <span class="content">Joined UNIT4, a company based in Granada, Spain, that specialized in ERP
                        systems.</span>
                </li>
                <li>
                    <div class="icon-title">
                        <i class="tiny material-icons">local_airport</i>
                        <span class="title">[life] Moved to Granada</span>
                    </div>
                    <span class="content">Switched cities and moved to Granada to follow on a job opportunity.</span>
                </li>
                <li>
                    <div class="icon-title">
                        <i class="tiny material-icons">school</i>
                        <a href="/projects?tags=lego" class="title">[study] Masters Degree</a>
                    </div>
                    <span class="content">Completed a Masters Degree in Local Development, specializing in GIS
                        systems for municipal information.</span>
                </li>
                <li>
                    <div class="icon-title">
                        <i class="tiny material-icons">school</i>
                        <a href="/projects?tags=lego" class="title">[study] Bachelors Degree</a>
                    </div>
                    <span class="content">Completed a Bachelors Degree in Computer Science, with my project being a
                        Backoffice tool for hospitals to manage patients and clinician data.</span>
                </li>
            </ul>
        </div>
    </div>
    <br>
    <br>
</div>

<!--<li><a href="/projects/" class="title">[]</a>
    <span class="content"></span></li>-->
{% endblock %}
